.walrus-showing, .walrus-showing1, .walrus-showing2, .toggle {
  display: none;
}

.clickable, .clickable1, .clickable2, .clickable3, .clickable4 {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover, .clickable1:hover, .clickable2:hover, .clickable3:hover {
  text-decoration: underline;
}
